QWidget#centralwidget
{
    background-image: url(:/img/assets/img/background.jpg);
}

QFrame#groupBoxA
{
    background: transparent;
}

QLabel#label_ft
{
color: rgb(255, 255, 255);
}

QLabel#label_et
{
}

QLabel#label_rt
{
}

QLabel#label_spd
{
}


